
<div class="container">
	<div class="row row-main-user-home">
		<div class="col-sm-3">
			<div class="well well-profile well-outer-sign">
		
				<h3>Welcome Back, <%= current_user.first_name %>!</h3><p>	
				
				<div class="user-home-profile-info text-center">
				<%= link_to (image_tag current_user.avatar.url(:thumb)), user_path(current_user) %>
				<!-- <img src="assets/jose.png" class="img-thumbnail img-user-thumbnail img-main-home-user" alt="Image"> -->
				<ul class="user-home-profile-links">
				<li><strong><%= link_to "Profile", user_path(current_user) %></strong></li>
				<!-- <li><a href="#">Events</a></li> -->
				<li><a href="#">Messages</a></li>
				</ul>
				</div>
				<div class="row sponsor-box">
				<center><font size="1" color="grey">SPONSOR ADVERTISEMENT</font></center>
				<center><img src="assets/jackdaniels_poster.jpg" alt="Image"></center>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="well well-suggested-users well-outer-sign">
				<h2 class="text-center text-suggestions-h1">Suggested Users</h2>
					<div class="row">
		 				<div class="well well-inside well-inside-suggested-users">
		  					<ul class="list-of-suggested-users">
		  						<% @user.each do |one_user| %>
		  						<li>
								<%= image_tag one_user.avatar.url(:thumb) %><p>
		  						<a href="#"> <span class="user-name"><%= link_to "#{one_user.first_name} #{one_user.last_name}", user_path(one_user)%></span></a></li>
	  						<% end %>
		  					</ul>
		  				</div>
					</div>
			</div>
		</div>
		<div class="col-sm-3">	
			<div class="well well-profile well-outer-sign">
				<h3 class="text-center">Following</h3>
					<div class="well well-inside well-inside-following">
						<ul>
						<% @followees.each do |one_followee| %>
					<li> <%=  link_to "#{one_followee.first_name} #{one_followee.last_name}", user_path(one_followee) %> </li>
						
								<% end %>
					    </ul>
			  		</div>
			  		<h3 class="text-center">Cocktail Recipes</h3>
					<div class="well well-inside well-inside-following text-center">
						<ul class="user-home-profile-links">
						<% @recipes.each do |one_recipe| %>
						<li><%= link_to "#{one_recipe.name}", recipe_path(one_recipe) %></li>
						<% end %>
						</ul>
			  		</div>
			</div> 
		</div>
	</div>
</div>