
<div class ="container sign-up-form-block">
<div class="row">
<h1><center>User Sign-Up Form</center></h1>
</div>  


  <div class="row middle-banner-signup">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name),  html: { multipart: true }) do |f| %>
      <div class="col-sm-4">
        <div class="sign-up-form text-center container-fluid">
        <img src="../assets/tiki.png" class="sign-thumbnail" class="tiki" alt="Image"> 
        </div>
      </div>
      <div class="col-sm-4">
        <div class="sign-up-form text-center container-fluid">
          <%= devise_error_messages! %>  
          <div class="field">
            <%= f.label :first_name %><br>
            <%= f.text_field :first_name, autofocus: true %>
          </div>
          <div class="field">
            <%= f.label :last_name %><br>
            <%= f.text_field :last_name %>
          </div>
          <div class="field">
            <%= f.label :email %><br>
            <%= f.email_field :email, autofocus: true %>
          </div>
          <div class="field">
            <%= f.label :password %><br>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
          <div class="field">
            <%= f.label :password_confirmation %><br>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
          
      </div>
  </div>
  <div class="col-sm-4">
        <div class="sign-up-form text-center container-fluid">
          <div class="field">
              <%= f.label :bio %><br>
              <%= f.text_field :bio %>
          </div>
          <div class="field">
              <%= f.label :industry %><br>
              <%= f.text_field :industry %>
          </div>
          <div class="field">
              <%= f.label :company %><br>
              <%= f.text_field :company %>
          </div>
          <div class="field">
              <%= f.label :location %><br>
              <%= f.text_field :location %>
          </div>
          <div class="field pic-submit">
              <%= f.label :avatar %><br>
              <%= f.file_field :avatar %>
          </div>    
          <div class="actions"><br>
              <%= f.submit "Sign up" %>
          </div>
              <% end %>
              <%= render "devise/shared/links" %>
        </div>
      </div> 
    </div>
 </div>
