
<div class="container">
<div class="row row-new-recipe">
		<div class="col-12-sm">
		<h1> New Recipe </h1> <br>

			<%= form_for [@recipe], html: { multipart: true } do |f| %>
	
			<div class="field">
			<%= f.label :name %>
			<%= f.text_field :name %>
			</div>
		
		
			<div class="field recipe-field">
			<%= f.label :description %>
			<%= f.text_field :description %>
			</div>
	
		
			<div class="field recipe-field">
			<%= f.label :instructions %>
			<%= f.text_field :instructions %>
			</div>

		
			<div class="field">
			<%= f.file_field :avatar %>
			</div>
		

			<%= f.button %>
	
			<% end %>
		</div>
	</div>
</div>