<div class="container">
	<div class="row row-profile-main">
		<div class="col-sm-3">
			<div class="well well-main-profile">
				<div class="well well-inside">
					<ul>
						<li><img src="../assets/john.png" class="img-thumbnail img-user-thumbnail" alt="Image"></li>
							<li><h3><%= @user.first_name %> <%= @user.last_name %></h3></li>
							<li><%= link_to "Edit Profile", edit_user_registration_path %></li>
							<li><%= link_to "New Recipe", new_recipe_path %></li>
					</ul>
				</div>
				<ul>
					<li>Location: <strong><%= @user.location %></strong></li>
					<li>Bio: <strong><%= @user.bio %></strong></li>
					<li>Industry: <strong><%= @user.industry %></strong></li>
					<li>Company: <strong><%= @user.company %></strong></li>
					<li>Recipes: </li>
				</ul>
			</div>
		</div>
		<div class="col-sm-9 col-profile-main">
			<div class="well well-main-profile well-main-profile-2">
				<div class="well well-inside">
				<ul class="text-center recipe-ul">
					<% @recipes.each do |one_recipe| %>
					<li><h4>Recipe Name: <%= one_recipe.name %></h4></li>
					<!-- <li><img src="../assets/julep.jpg" class="img-thumbnail img-cocktail-thumbnail" alt="Image"></li> -->
					<li>Ingredients Description: <%= one_recipe.description %></li>
					<li>Recipe Instructions: <%= one_recipe.instructions %></li>
					<!-- <li><span class="recipe-notes"><strong>Notes</strong>: Combine all ingredients in shaker.  Shake and strain into rocks glass over crushed ice. Garnish with watermelon chunk.</span></li> -->
					<% end %>
				</ul>
				</div>
			</div>
		</div>
	</div>
</div>



<!-- 
					<li>Ingredient 2: <strong>Lime Juice</strong>  Measurement: .75oz</li>
					<li>Ingredient 3: <strong>Agave</strong>  Measurement: .5oz</li>
					<li>Ingredient 4: <strong>Sriracha</strong>  Measurement: Barspoon</li> -->






