<div class="container">
	<div class="row row-profile-main">
		<div class="col-sm-3">
			<div class="well well-main-profile">
				<div class="well well-inside">
					<ul>
						<li><img src="../assets/john.png" class="img-thumbnail img-user-thumbnail" alt="Image"></li>
							<li><h3><%= @user.first_name %> <%= @user.last_name %></h3></li>
					</ul>
				</div>
				<ul>
					<li><%= @user.location %></li>
					<li><%= @user.bio %></li>
					<li><%= @user.industry %></li>
					<li><%= @user.company %></li>
					<li>Recipes</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-9 col-profile-main">
			<div class="well well-main-profile">
				<div class="well well-inside">
				<ul>
					<li><h4>Recipe Name: RED-HOT RITA</h4></li>
					<li>Ingredient 1: <strong>Watermelon Tequila</strong> Measurement: 2oz</li>
					<li>Ingredient 2: <strong>Lime Juice</strong>  Measurement: .75oz</li>
					<li>Ingredient 3: <strong>Agave</strong>  Measurement: .5oz</li>
					<li>Ingredient 4: <strong>Sriracha</strong>  Measurement: Barspoon</li>
				</ul><br>
				<span class="recipe-notes"><strong>Notes</strong>: Combine all ingredients in shaker.  Shake and strain into rocks glass over crushed ice. Garnish with watermelon chunk.</span>
				</div>
			</div>
		</div>
	</div>
</div>