<div class="container">
	<div class="row row-profile-main">
		<div class="col-sm-4">
			<div class="well well-main-profile">
				<div class="well well-inside text-center ">
					<ul class="well-left-profile">
						<li><%= image_tag @user.avatar.url(:thumb) %></li>
							<li><h3><%= @user.first_name %> <%= @user.last_name %></h3></li>
										<% if @user == current_user %>
							<li><%= link_to "Edit Profile", edit_user_registration_path %></li>
							<li><%= link_to "Add New Recipe", new_recipe_path %></li>
												<% end %>
                            			<br><li>Following: <%= @user.followees_count %></li>
                            			<li>Followers: <%= @user.followers_count %></li>
                            			<% if current_user.follows?(@user) %>
                            <li> <%= link_to "Unfollow", "/unfollow/#{@user.id}", method: :post, class: "btn btn-default btn-follow " %>
											<% else %>
							<li> <%= link_to "Follow", "/follow/#{@user.id}", method: :post, class: "btn btn-default btn-follow " %>
                                              </li>
                            			<% end %>

					 </ul>
				    </div>
				

				<div class="well well-inside text-center">
				<ul class="well-left-profile">
					<li><strong>USER INFORMATION</strong></li><br>
					<li>Location: <%= @user.location %></li>
					<li>Position: <%= @user.bio %></li>
					<li>Industry: <%= @user.industry %></li>
					<li>Company: <%= @user.company %></li>
							
				</ul>
				</div>
			
                <div class="well well-inside text-center">
                <ul class="well-left-profile">
                	<li><strong>FOLLOWING</strong></li><br>
                	<% @followees.each do |one_followee| %>
					<li> <%=  link_to "#{one_followee.first_name} #{one_followee.last_name}", user_path(one_followee) %> </li>
						
								<% end %>
                </ul>
                </div>
                <div class="well well-inside text-center">
                <ul class="well-left-profile">
                	<li><strong>Liked Recipes</strong></li><br>
                	<% @liked_recipes.each do |one_liked_recipe| %>
					<li> <%=  link_to "#{one_liked_recipe.name}", recipe_path(one_liked_recipe) %> </li>
						
								<% end %>
                </ul>
                </div>
			</div>
		</div>
		<div class="col-sm-8 col-profile-main">
			<% @recipes.each do |one_recipe| %>
			<div class="well well-main-profile well-main-profile-2">
				<div class="well well-inside">
				<ul class="text-center recipe-ul">			
				<li><%= image_tag one_recipe.avatar.url(:medium), class: "img-thumbnail img-recipe" %></li>
					<li><h4>Recipe: <%= link_to "#{one_recipe.name}", recipe_path(one_recipe) %></h4></li>
					
					<li><strong>Ingredients:</strong> <%= one_recipe.description %></li>
					<li><strong>Instructions:</strong> <%= one_recipe.instructions %></li><br>
							<% if @user == current_user %>
					<li><%= link_to "Edit", edit_recipe_path(one_recipe)  %></li>
					<li><%= link_to "Delete", recipe_path(one_recipe), method: "delete" %></li>
							<% end %>
							<% if current_user.likes?(one_recipe) %>
					<li> <%= link_to "Unlike", "/unlike/#{one_recipe.id}", method: :post, class: "btn btn-default btn-follow " %>
                                              </li><br>
                                              <% else %>
                    <li> <%= link_to "Like", "/like/#{one_recipe.id}", method: :post, class: "btn btn-default btn-follow " %>
                                              </li><br>
                    		<% end %>
                    		<li>Likes: <%= one_recipe.likers_count %></li>
				</ul>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>










